body {
        display: block;
    }
    .mmtitle {
        text-align: center;
        font-family: 'Spartan', sans-serif;
    }
    .cmcetitle, .comptitle {
        position: relative;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: forestgreen;
        color: white;
        padding: 8px;
        width: 35%;
        left: 32%;
        border-radius: 10px;
    }
    .cmce {
        display: flex;
        justify-content: center;
    }
    .companhias {
        display: flex;
        justify-content: center;
    }
    .oficial, .executivo, .praça, .mmdip, .mmprof, .mmam {
        display: flex;
    }
    .oficial img, .executivo img, .praça img {
        height: min-content;
        position: relative;
        top: -9px;
    }
    .imagemd {
        background: #052b05;
        margin-right: 5px;
        margin-top: 13px;
        height: 63px;
        border-radius: 50%;
    }
    .mmdip img, .mmprof img, .mmam img {
        height: min-content;
        position: relative;
        top: -9px;
    }
    .oficial p, .executivo p, .praça p {
        line-height: 10px;
        margin-right: 15px;
        margin-bottom: -10px;
        background: #084008;
        color: white;
        font-family: monospace;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
    }
    .mmdip p{
        line-height: 10px;
        margin-right: 15px;
        margin-bottom: -10px;
        background: #0e1848;
        color: white;
        font-family: monospace;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
    }
    .mmprof p{
        line-height: 10px;
        margin-right: 15px;
        margin-bottom: -10px;
        background: #2c0048;
        color: white;
        font-family: monospace;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
    }
    .mmam p{
        line-height: 10px;
        margin-right: 15px;
        margin-bottom: -10px;
        background: #804700;
        color: white;
        font-family: monospace;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
    }
    .imagedip {
        background: #001788;
        margin-right: 5px;
        margin-top: 13px;
        height: 63px;
        border-radius: 50%;
    }
    .imageprof {
        background: #540088;
        margin-right: 5px;
        margin-top: 13px;
        height: 63px;
        border-radius: 50%;
    }
    .imageam {
        background: #ffa500;
        margin-right: 5px;
        margin-top: 13px;
        height: 63px;
        border-radius: 50%;
    }
